.first-class{
  margin: 20px;
  padding: 30px;
  border: 5px solid black;
  color: white;
  background-color: black;
  font-size: large;
  font-weight: bold;
}
.second-class{
  margin: 20px;
  padding: 30px;
  border: 5px solid black;
  color: white;
  background-color: slategray;
  font-size: large;
  font-weight: bold;
}
